
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-gray-200 transition-colors duration-300;
  background-image: url('/images/cosmic-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}


body {
  font-family: 'Georgia', 'Merriweather', serif;
}

body::before {
  content: "";
  position: fixed;
  width: 0;
  height: 0;
  background-image: url("/images/galaxy-bg.png");
}